* {
text-align: center;
}
h1,h2{
    background-color: aqua;
}
p.b {
    color:red;
}
div p {
    background-color: yellow;
  }
  div > p {
    background-color: red;
  }  
  div + p {
    background-color: blue;
  }
  p ~ h3 {
    background-color: green;
  }
  